* {
  overflow-x: hidden; }

.title-text {
  margin: 0 auto;
  margin-top: 70px; }
  .title-text h1 {
    text-align: center;
    font-weight: 500;
    font-size: 60px;
    color: #111111;
    line-height: 1.2; }

.video {
  position: relative;
  width: 527px;
  max-width: 80%;
  height: 300px;
  margin: 0 auto;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 33px 43px 0px rgba(0, 0, 0, 0.16);
  border-style: solid;
  border-width: 10px;
  border-color: white;
  transition: .3s ease-in-out; }
  .video:hover {
    transform: translateY(-10px);
    filter: drop-shadow(0px 33px 43px rgba(0, 0, 0, 0.2)); }
  .video video {
    left: 50%;
    transform: translate(-50%);
    height: 100%;
    border-radius: 20px;
    position: absolute; }

.download {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center; }
  .download .icons {
    max-width: 90%; }
    .download .icons a {
      transition: .3s ease-in-out; }
      .download .icons a:nth-child(2) > img {
        margin-left: 20px; }
      .download .icons a:hover {
        transform: translateY(-10px);
        filter: drop-shadow(0px 33px 23px rgba(0, 0, 0, 0.2)); }
    .download .icons img {
      width: 175px; }

.about {
  opacity: 0;
  transition: .3s all;
  width: 863px;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 249px; }
  .about img {
    float: left;
    transition: .3s ease-in-out; }
    .about img:hover {
      transform: translateY(-10px);
      filter: drop-shadow(0px 33px 43px rgba(0, 0, 0, 0.2)); }
  .about .text {
    padding-top: 84px; }
    .about .text h1 {
      font-size: 48px;
      color: black;
      line-height: 1.2;
      font-weight: 500;
      margin-bottom: 24px; }
    .about .text p {
      font-size: 25px;
      font-weight: 300;
      line-height: 1.2;
      letter-spacing: 50;
      opacity: .56; }

.newsletter {
  opacity: 0;
  box-sizing: border-box;
  width: 833px;
  height: 100%;
  max-width: 70%;
  padding: 50px;
  margin: 0 auto;
  margin-top: 372px;
  box-shadow: 0px 33px 43px 0px rgba(0, 0, 0, 0.08);
  transition: all .3s ease-in-out;
  border-radius: 20px; }
  .newsletter:hover {
    transform: translateY(-10px);
    box-shadow: 0px 33px 43px 0px rgba(0, 0, 0, 0.16); }
  .newsletter h1 {
    padding-top: 20px;
    font-size: 48px;
    font-weight: 500;
    color: black;
    text-align: center;
    margin-bottom: 13px;
    line-height: normal; }
  .newsletter p {
    font-size: 20px;
    font-weight: 300;
    color: rgba(17, 17, 17, 0.7);
    text-align: center;
    line-height: 1.2;
    margin-bottom: 66px; }
  .newsletter .inputs {
    overflow: hidden;
    margin-bottom: 20px;
    text-align: center; }
    .newsletter .inputs input {
      padding: 0px 10px;
      width: 400px;
      height: 45px;
      border-radius: 100px;
      background-color: black;
      border: none;
      font-size: 14px;
      color: white;
      max-width: 90%; }
    .newsletter .inputs a button {
      margin-top: 15px;
      width: 158px;
      height: 45px;
      border-radius: 100px;
      font-size: 14px;
      color: white;
      background-color: #54c64d;
      letter-spacing: normal; }

.footer {
  opacity: 0;
  transition: .3s all;
  width: 100%;
  margin-top: 157px;
  background-color: #f7f7f7;
  padding: 75px 0px 50px 0px; }
  .footer a {
    color: #666666; }
    .footer a:hover {
      color: #111111; }
  .footer .content {
    width: 925px;
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between; }
    .footer .content .comp-info {
      width: 83px; }
      .footer .content .comp-info .logo {
        font-size: 20px;
        color: black;
        font-weight: bold;
        transition: .3s all; }
        .footer .content .comp-info .logo:hover {
          color: #4d4d4d; }
      .footer .content .comp-info img {
        margin-top: 10px;
        height: 20px;
        margin-right: 7px;
        filter: brightness(0);
        transition: .3s all; }
        .footer .content .comp-info img:hover {
          filter: brightness(1); }
    .footer .content pre {
      float: left;
      font-size: 13px; }
      .footer .content pre span {
        color: black; }
    .footer .content .stores {
      width: 135px;
      float: right; }
      .footer .content .stores a img {
        width: 135px;
        height: 40px; }

@media screen and (max-width: 1000px) {
  .hamburger {
    display: block; }

  div.menu-bar > div.links {
    display: none; }

  .title-text {
    max-width: 80%; }
    .title-text h1 {
      font-size: 250%; }

  .menu-bar {
    height: 100px; }
    .menu-bar a {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      overflow-x: visible; }
      .menu-bar a:nth-child(2) {
        padding-top: 35px; } }
@media screen and (max-width: 600px) {
  .newsletter {
    max-width: 100%;
    box-shadow: 0px 33px 43px 0px transparent; }

  .about .text h1 {
    font-size: 30px; }
  .about .text p {
    font-size: 20px; }
  .about img {
    float: none;
    display: block;
    margin: 0 auto; } }
@media screen and (max-width: 800px) {
  .about .text h1 {
    font-size: 35px; }
  .about .text p {
    font-size: 23px; } }
@media screen and (max-width: 700px) {
  .footer .content {
    display: block; }
    .footer .content .comp-info {
      display: block;
      margin: 0 auto; }
      .footer .content .comp-info .socials {
        width: 55px;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 5px; }
        .footer .content .comp-info .socials a img {
          margin: 0; }
    .footer .content pre {
      width: 100%;
      height: 20px;
      text-align: center; }
      .footer .content pre a {
        display: none; }
      .footer .content pre:nth-child(5) {
        margin-bottom: 20px; }
    .footer .content span {
      display: block; }
    .footer .content .stores {
      margin-top: 50px;
      float: none;
      display: block;
      margin: 0 auto; }
      .footer .content .stores img {
        transform: scale(0.8); } }
@media screen and (max-width: 420px) {
  div.download > div > a:nth-child(2) > img {
    width: 120px; }

  div.download > div > a:nth-child(1) > img {
    width: 120px; } }
.open {
  transform: scale(1);
  opacity: 1; }

.open2 a {
  opacity: 1; }

.minus {
  opacity: 1; }

.plus {
  opacity: 1; }

.body-content {
  transition: 0.8s ease-in-out; }

/*# sourceMappingURL=home-page.css.map */
